.bmset-container {
  background-color: var(--c-bg-darker);
  padding: 1em;
  border-radius: 4px;
  font-size: 1.1rem;
  margin: 0em 0.5em;
}

h1.bmset-display {
  font-weight: 500;
  color: var(--c-white);
  margin-bottom: 0.35em;
  text-align: center;
}

.bmset-bookmark-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
  overflow-y: auto;
  text-align: center;
}

.bookmark {
  text-decoration: none;
  color: var(--c-gray);
}

.bmset-editable-container {
  min-width: 360px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  background-color: var(--c-bg-darker);
  /* border: 8px solid var(--c-bg-darker); */
  border-radius: 8px;
  gap: 0.5rem;
}

.bmset-editable-header {
  display: flex;
  justify-content: space-between;
}

.bmset-name > input,
.bm-name > input {
  width: auto;
}

.bmset-key > input,
.bm-key > input {
  width: 16px;
}

.bm-url {
  display: flex;
}

.bm-url > input {
  flex-grow: 1;
}

.bmset-display,
.bmset-widget-title,
.bmset-widget-preview {
  font-weight: normal;
}

.bmset-drag-handle {
  background-color: var(--c-bg);
  border: none;
  /* TODO implement draggability */
  /* cursor: grab; */
  cursor: wait;
}

.bmset-controls-preview {
  padding-top: 1rem;
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
}

.bmset-controls {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: flex-start;
}

.bmset-preview {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-inline-start: auto;
}

.bmset-preview-label {
  text-align: end;
}

.ti-container {
  color: var(--c-white);
}

.ti-container > input {
  margin-inline-start: 0.5rem;
  border: none;
  border-radius: 4px;
  background-color: var(--c-bg);
  color: var(--c-white);
  padding: 0.25rem;
  text-align: end;
}

.alt-bg > input {
  background-color: var(--c-bg-darker);
}

.bmgrid {
  display: grid;
  grid-template-columns: 1fr 2fr 0.5fr 0.5fr 0.5fr;
  justify-items: center;
  row-gap: 0.25rem;
}

.bmgrid-header {
  color: var(--c-gray);
}

.bmgrid-header,
.bmgrid-cell {
  height: 20px;
}

.url-cell {
  height: 24px;
  width: 200px;
  text-align: start;
  overflow-x: auto;
  overflow-y: hidden;
}

.bookmark-add-rm-buttons {
  display: flex;
  justify-content: flex-end;
}

.bmgrid-row-edit-btn,
.bmgrid-row-rm-btn,
.bookmark-add-rm-buttons > button {
  background-color: var(--c-bg);
  border: none;
  color: var(--c-white);
  cursor: pointer;
  padding: 0.25rem 0.5rem;
  border-radius: 4px;
}

.no-row-selected,
.bmgrid-row-edit-btn:disabled,
.bmgrid-row-rm-btn:disabled {
  opacity: 0.4;
  cursor: unset;
}

.edit-row-container {
  background-color: var(--c-bg);
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  border-radius: 4px;
  margin-top: 0.5rem;
  width: 90%;
  margin-inline: auto;
  padding: 0.5rem;
}

.edit-row-header {
  display: flex;
  justify-content: space-between;
}
