.date-display {
  font-size: 3rem;
}

.date-editable-container {
  min-width: 700px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  background-color: var(--c-bg);
  border: 8px solid var(--c-bg-darker);
  border-radius: 8px;
}

.date-header {
  display: flex;
  justify-content: space-between;
}

.date-display,
.date-widget-title,
.date-widget-preview {
  font-weight: normal;
}

.date-controls-preview {
  padding-top: 1rem;
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
}

.date-controls {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: flex-start;
}

.date-preview {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-inline-start: auto;
}

.date-preview-label {
  text-align: end;
}
