.time-display {
  font-size: 6rem;
}

.time-editable-container {
  min-width: 360px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  background-color: var(--c-bg);
  border: 8px solid var(--c-bg-darker);
  border-radius: 8px;
}

.time-header {
  display: flex;
  justify-content: space-between;
}

.time-display,
.time-widget-title,
.time-widget-preview {
  font-weight: normal;
}

.time-drag-handle {
  background-color: var(--c-bg);
  border: none;
  /* TODO implement draggability */
  /* cursor: grab; */
  cursor: wait;
}

.time-controls-preview {
  padding-top: 1rem;
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
}

.time-controls {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: flex-start;
}

.time-preview {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-inline-start: auto;
}

.time-preview-label {
  text-align: end;
}
